<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui/static/h-ui.admin/css/style.css"/>

    <title>商品列表</title>
</head>
<body>
<section>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span
            class="c-gray en">&gt;</span> 商品列表<a class="btn btn-success radius r"
                                                 style="line-height:1.6em;margin-top:3px"
                                                 href="javascript:location.replace(location.href);" title="刷新"><i
            class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c"> 日期范围：
                <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin"
                       class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})"
                       id="datemax" class="input-text Wdate" style="width:120px;">
                <input type="text" class="input-text" style="width:250px" placeholder="输入商品名称" id="title" name="title">
                <button type="submit" class="btn btn-success radius" id="search" name="search"><i class="Hui-iconfont">&#xe665;</i>
                    搜商品
                </button>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a href="javascript:;" onclick="data_del()"
                                                                       class="btn btn-danger radius"><i
                    class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;"
                                                                  onclick="item_add('创建商品','item-add.html','','500')"
                                                                  class="btn btn-primary radius"><i
                    class="Hui-iconfont">&#xe600;</i> 创建商品</a></span> <span class="r">共有数据：<strong>88</strong> 条</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg ">
                    <thead>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox" name="" value=""></th>
                        <th width="100">商品名称</th>
                        <th width="200">图片</th>
                        <th width="200">描述</th>
                        <th width="50">价格</th>
                        <th width="50">销量</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</section>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../static/h-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/h-ui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../static/h-ui/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="../static/h-ui/static/h-ui.admin/js/H-ui.admin.page.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../static/h-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../static/h-ui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../static/h-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    //h-ui框架不好处理分页，所以为了页面的美观性暂时屏蔽分页
    /*$('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,1,2,3,4,5,6]}// 制定列不参与排序
        ]
    });*/
    //定义全局商品数组信息
    var g_itemList = [];
    jQuery(document).ready(function () {
        $("#search").on("click", function () {
            $.ajax({
                type: "POST",
                contentType: "application/x-www-form-urlencoded",
                url: "http://localhost:8080/item/list",
                data: {},
                xhrFields: {withCredentials: true},
                success: function (data) {
                    if (data.status == "success") {
                        $("#tbody").html("");
                        g_itemList = data.data;
                        reloadDom();
                        /*var object = data.data;
                        for (var i = 0; i < object.length; i++) {
                            var tr = document.createElement('tr');
                            tr.setAttribute("class", "text-c");
                            tr.setAttribute("id", "itemDetail"+object[i].id);

                            var tdCheck = document.createElement('td');
                            var tdTitle = document.createElement('td');
                            var tdImgUrl = document.createElement('td');
                            var tdDescription = document.createElement('td');
                            var tdPrice = document.createElement('td');
                            var tdSales = document.createElement('td');
                            var tdOperation = document.createElement('td');

                            tdCheck.innerHTML = "<input type=\"checkbox\" value=\"1\" name=\"\">";
                            tdTitle.innerHTML = object[i].title;
                            tdImgUrl.innerHTML = "<img style='width: 100px;height: auto' src='"+object[i].imgUrl+"'/>";
                            tdDescription.innerHTML = object[i].description;
                            tdPrice.innerHTML = object[i].price;
                            tdSales.innerHTML = object[i].sales;
                            tdOperation.innerHTML = "<a title=\"编辑\" href=\"javascript:;\" onclick=\"item_edit('编辑','item-add.html','4','','510')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6df;</i></a> <a title=\"删除\" href=\"javascript:;\" onclick=\"item_del(this,'1')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a>";

                            tr.appendChild(tdCheck);
                            tr.appendChild(tdTitle);
                            tr.appendChild(tdImgUrl);
                            tr.appendChild(tdDescription);
                            tr.appendChild(tdPrice);
                            tr.appendChild(tdSales);
                            tr.appendChild(tdOperation);
                            var tbody = document.getElementById('tbody');
                            tbody.appendChild(tr);
                        }*/
                    } else {
                        alert("查询失败，原因为" + data.data.errMsg);
                    }
                },
                error: function (data) {
                    alert("查询失败，原因为" + data.responseText);
                }
            });
        });
    });

    function reloadDom() {
        for (var i = 0; i < g_itemList.length; i++) {
            var itemVo = g_itemList[i];
            var dom = "<tr class='text-c'><td><input type=\"checkbox\" value=\"1\" name=\"\"></td><td data-id='" + itemVo.id + "' id='itemDetail" + itemVo.id + "'>" + itemVo.title + "</td><td style='width: 100px;height: auto'><img src='" + itemVo.imgUrl + "'></td><td>" + itemVo.description + "</td><td>" + itemVo.price + "</td><td>" + itemVo.sales + "</td>" +
                "<td class=\"td-manage\"><a title=\"编辑\" href=\"javascript:;\" onclick=\"item_edit('编辑','item-add.html?id=" + itemVo.id + "','','510')\" class=\"ml-5\" style=\"text-decoration:none\">" +
                "<i class=\"Hui-iconfont\">&#xe6df;</i></a> <a title=\"删除\" href=\"javascript:;\" onclick=\"item_del(this,'1')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a></td></tr>"
            $("#tbody").append($(dom));
            $("#itemDetail" + itemVo.id).on("click", function (e) {
                //window.location.href="getitem.html?id="+$(this).data("id");
                layer_show("商品详情", "getitem.html?id=" + $(this).data("id"), "550", "500");
            });
        }
    }

    function data_del() {
        alert("批量删除");
    }

    /*商品-创建*/
    function item_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*商品-修改*/
    function item_edit(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*商品-删除*/
    function item_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>